body{
    /* background-color: aqua; */
    background-image: url(/img/art-artistic-blue-eyes-1209843.jpg);
    background-size: cover;
    max-width: 800px;
    min-width: 100px;
    background-attachment: fixed;
    }
.container{
    font-family:sans-serif;
}

.header{
    font-size: 20px;
    text-align: center;
    font-style: italic;
    color: #00ffff;
    /* font-weight: bolder; */
    
}
.forms{
    border: 3px solid rgb(166, 230, 17);
    text-align: center;
    padding: 10px 0;
    outline: 2px dashed black;

}
.form-control{
    font-size: 1.5rem;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    

}

#dropdown:hover{
    background-color: lightsalmon;
 }
#dropdown{
    font-variant:inherit;
    font-weight: bold;
}

#skillset{
    display: inline-block;
    margin:2rem 0;

}
/* .form-control[type=checkbox]{
    display: inline-block;
} */
#resume:focus{
    background-color: rgb(95, 5, 117);
    color: yellow;
}
#Query:hover{
    background-color: crimson;
    margin: 0;
    border: 2px solid blueviolet;
    border-radius: 5px;
 
}
button:focus{
    text-align: center;
    background: #45f111;
    color: aqua;
}
 .footer{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: darkslateblue;
    display: inline-block;
 }
 #Query{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.25rem;
    min-width: 300px;
    font-variant: small-caps;
 }
 /* .form-control [type=radio]{
    /* display: inline-block; */